.expedu-container {
  background: #0f172a;
  min-height: 100vh;
  padding: 20px;
  color: white;
  font-family: Inter, sans-serif;
}

.nav-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back {
  cursor: pointer;
  font-size: 22px;
}

.tabs {
  background: #1e293b;
  padding: 5px;
  border-radius: 15px;
  margin: 20px 0;
  display: flex;
}

.tabs button {
  flex: 1;
  padding: 10px;
  background: none;
  color: #94a3b8;
  border: none;
  font-size: 15px;
}

.tabs button.active {
  background: #0f172a;
  border-radius: 12px;
  color: white;
  font-weight: 600;
}

.list-area {
  margin-top: 15px;
}

.list-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.icon-box {
  background: #0f172a;
  padding: 12px;
  border-radius: 12px;
  font-size: 20px;
}

.arrow {
  margin-left: auto;
  font-size: 24px;
  color: #94a3b8;
}

.add-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
