/* Main Container */
.dashboard-container {
  background: #0f172a;
  min-height: 100vh;
  padding: 20px;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

/* Header */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-header h2 {
  font-size: 22px;
  font-weight: 700;
}

.logout-icon {
  background: none;
  font-size: 22px;
  color: #94a3b8;
  border: none;
  cursor: pointer;
}

/* Welcome Card */
.welcome-card {
  background: #1e293b;
  border-radius: 18px;
  padding: 0 20px 20px;
  margin-bottom: 30px;
}

.banner {
  background: url("https://img.freepik.com/premium-vector/blue-gradient-fluid-wave-background_23-2149230812.jpg")
    no-repeat center/cover;
  height: 100px;
  border-radius: 18px 18px 0 0;
  margin-bottom: 15px;
}

.welcome-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.welcome-card p {
  color: #94a3b8;
  font-size: 14px;
  margin-bottom: 15px;
}

.view-btn {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
}

/* Manage Content */
.section-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.content-item {
  background: #1e293b;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 14px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.content-item:hover {
  background: #273549;
}

.icon-circle {
  background: #0f172a;
  padding: 12px;
  border-radius: 50%;
  font-size: 20px;
}

.content-item h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.content-item p {
  font-size: 13px;
  color: #94a3b8;
  margin: 3px 0 0;
}

.arrow {
  margin-left: auto;
  font-size: 22px;
  color: #94a3b8;
}

/* Floating Button */
.floating-btn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background: #2563eb;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
